<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzh.empmanagement_back.mapper.AttendanceMapper">

    <resultMap id="BaseResultMap" type="com.xzh.empmanagement_back.model.domain.Attendance">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="companyCode" column="companyCode" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="attendanceDate" column="attendanceDate" jdbcType="DATE"/>
            <result property="attendanceType" column="attendanceType" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,companyCode,name,
        attendanceDate,attendanceType,createTime,
        updateTime,isDelete
    </sql>
</mapper>
